version: '3.6'

x-logging:
  &local-logging
  driver: "local"
  options:
    max-size: "20m"
    max-file: "50"

x-loki-logging:
  &loki-logging
  driver: "loki"
  options:
    max-size: "20m"
    max-file: "50"
    loki-url: "[% loki_url %]"
    loki-external-labels: "container_name={{.Name}},hostname=[% host_name %]"
    loki-pipeline-stages: |
          - multiline:
              firstline: '^\d{4}-\d{2}-\d{2}[T ]?\d{2}:\d{2}:\d{2}.\d{3}'
          - labeldrop:
              - compose_project
              - compose_service
              - filename
              - source
              - stream
              - swarm_service
              - swarm_stack
services:
    certs2:
        container_name: oe-certs2 
        image: itechuw/certgen:main
        platform: linux/amd64
        restart: "no"
        environment:
            - KEYSTORE_PW="kspass"
            - TRUSTSTORE_PW="tspass"
        networks:
            - openelis-network2
        volumes:
            -  key_trust-store-volume2:/etc/openelis-global
            -  keys-vol2:/etc/ssl/private/
            -  certs-vol2:/etc/ssl/certs/

    db2.openelis.org:
        container_name: openelisglobal-database2 
        image: itechuw/openelis-global-2-database:3.2.1.2
        platform: linux/amd64
        ports:
            - "15433:5432"
        restart: always
        env_file:
            - ./configs/openelis/database/database.env
        environment:
            - DB_PASSWORD=${OE_DB_PASSWORD}
            - DB_SUPERUSER_PASSWORD=${ADMIN_PASSWORD}   
        volumes:
              # preserves the database between containers
            - ./configs/openelis/database/data2:/var/lib/postgresql/data                

        logging: *local-logging    
        networks:
            - openelis-network2
        healthcheck:
            test: [ "CMD", "pg_isready", "-q", "-d", "clinlims", "-U", "clinlims" ]
            timeout: 45s
            interval: 10s
            retries: 10 
            
    oe2.openelis.org:
        container_name: openelisglobal-webapp2 
        image: itechuw/openelis-global-2:develop 
        platform: linux/amd64  
        depends_on:
            - db2.openelis.org
            - certs2
        ports:
            # - "8080:8080"
            - "8444:8443"
        restart: always
        networks:
          openelis-network2:
              ipv4_address: 172.30.1.121
          shr-pipeline-network:    
        logging: *local-logging      
        environment:
            - DEFAULT_PW=adminADMIN! 
            - TZ=America/New_York
              # Config variables loaded through Tomacat server.xml
            - CATALINA_OPTS= -Ddatasource.url=jdbc:postgresql://db2.openelis.org:5432/clinlims -Ddatasource.username=clinlims -Ddatasource.password=${OE_DB_PASSWORD} -Doe.ssl.truststorepath=${SSL_TRUSTSTORE_PATH} -Doe.ssl.truststorepassword=${SSL_TRUSTSTORE_PASSWORD} -Doe.ssl.keystorepath=${SSL_KEYSTORE_PATH} -Doe.ssl.keystorepassword=${SSL_KEYSTORE_PASSWORD}
             # Env variables passed to the common properties file
            - SSL_KEYSTORE_PATH
            - SSL_KEYSTORE_PASSWORD
            - SSL_TRUSTSTORE_PATH
            - SSL_TRUSTSTORE_PASSWORD
        volumes:
            -  key_trust-store-volume2:/etc/openelis-global
            -  lucene_index-vol2:/var/lib/lucene_index
            - ./configs/openelis/plugins/:/var/lib/openelis-global/plugins
            - ./configs/openelis/logs/oeLogs2:/var/lib/openelis-global/logs
            - ./configs/openelis/logs/tomcatLogs2/:/usr/local/tomcat/logs
            - ./configs/openelis/properties/SystemConfiguration.properties:/var/lib/openelis-global/properties/SystemConfiguration.properties
            - ./configs/openelis/analyzer/analyzer-test-map.csv:/var/lib/openelis-global/analyzer/analyzer-test-map.csv
            - ./configs/openelis/odoo/odoo-test-product-mapping.csv:/var/lib/openelis-global/odoo/odoo-test-product-mapping.csv
            - ./configs/openelis/programs/:/var/lib/openelis-global/programs
            - ./configs/openelis/configuration:/var/lib/openelis-global/configuration
            - ./configs/openelis/menu/menu_config.json:/var/lib/openelis-global/menu/menu_config.json
        secrets:
            - source: common.properties
       
    frontend2.openelis.org:
        image: itechuw/openelis-global-2-frontend:develop 
        container_name: openelisglobal-front-end2
        platform: linux/amd64
        networks:
            - openelis-network2
        environment:
            - CHOKIDAR_USEPOLLING=true
        logging: *local-logging    
        tty: true

    proxy2:
        image: itechuw/openelis-global-2-proxy:3.2.1.2
        container_name: openelisglobal-proxy2
        platform: linux/amd64
        ports:
            - 81:80
            - 444:443
        volumes:
            - certs-vol2:/etc/nginx/certs/
            - keys-vol2:/etc/nginx/keys/
            - ./configs/openelis/nginx/nginx2.conf:/etc/nginx/nginx.conf:ro
            # - /KEYSTORE_PASSWORD:/etc/nginx/private/key_pass
            # - /etc/openelis-global/nginx.cert.pem:/etc/nginx/certs/cert.crt
            # - /etc/openelis-global/nginx.key.pem:/etc/nginx/certs/cert.key
        restart: unless-stopped
        networks:
            - openelis-network2
        logging: *local-logging    
        depends_on:
            - frontend2.openelis.org 
            - oe2.openelis.org
   
    autoheal2:
        container_name: autoheal-oe2
        image: willfarrell/autoheal:1.2.0
        tty: true
        restart: always
        networks:
            - openelis-network2
        environment:
            AUTOHEAL_CONTAINER_LABEL: all
            TZ: America/New_York
        logging: *local-logging    
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock  

        
secrets: 
  common.properties:
    file:  ./configs/openelis/properties/common2.properties 

networks:
  openelis-network2:
    name: openelis-network2
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.1.0/24
  shr-pipeline-network:
    name: shr-pipeline-network
    external: true  
        
volumes:
  key_trust-store-volume2:
  certs-vol2:
  keys-vol2:
  lucene_index-vol2: